<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Hechizos de Crochet</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index.html">Hechizos de Crochet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html"><h8>Inicio</h8></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/public/views/info.html"><h8>Sobre Nosotros</h8></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/produtos.html"><h8>Productos</h8></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/views/contactos.html"><h8>Contacto</h8></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <section class="my-5">
            <h1>Sobre Nosotros</h1>
            <p>Hechizos de Crochet es un emprendimiento dedicado a la creación de artículos tejidos a mano. 
            <br>
            <i> Nuestra misión es llevar felicidad y magia a cada rincón a través de nuestras creaciones únicas y deslumbrantes, llenas de amor y dedicación.</i></p>
            <br>
            <h2>¿COMO REALIZO MI PEDIDO?</h2>
        <br>
        <p>》Por favor, envianos un mensaje directo con los detalles de tu pedido los que pueden ser:
            <br>
        •una foto de referencia o cualquier dato que pueda facilitar para que pueda brindar ideas🥰.
        <br>
        》Cada amigurumi varía en precio y tiempo de confección, por lo tanto, te sugiero realizar tu pedido al menos con dos semanas de anticipación (tenen en cuenta que seguimos un orden de espera para los pedidos por lo cual puede que demore un poquito más te tiempo).
        <br>
        》Todos nuestros pedidos requieren un anticipo del 50%, el cual no es reembolsable una vez realizado.
        <br>
        》Me esforzaré por responderte tan pronto como me sea posible. 
        Agradezco tu paciencia.</p>
        <img src="/public/imagenes/Captura de pantalla 2024-07-28 223757.png" alt="info">
        </section>
    </main>
    <footer class="text-center py-4">
        <p>&copy; 2024 Hechizos de Crochet</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
