<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Hechizos de Crochet</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/index.html">Hechizos de Crochet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/index.html"><h8>Inicio</h8></a></li>
                    <li class="nav-item"><a class="nav-link" href="/public/views/info.html"><h8>Sobre Nosotros</h8></a></li>
                    <li class="nav-item active"><a class="nav-link" href="/public/views/produtos.html"><h8>Productos</h8></a></li>
                    <li class="nav-item"><a class="nav-link" href="/public/views/contactos.html"><h8>Contacto</h8></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container my-5">
        <h1>Productos</h1>
        <section class="row">
            <!-- Productos -->
            <figure class="col-md-3">
                <img src="/public/imagenes/pagina foto 1.png" alt="Producto 1" class="img-fluid" data-toggle="modal" data-target="#modal1">
                <figcaption>Ramo de flores personalizado</figcaption>
            </figure>
            <figure class="col-md-3">
                <img src="/public/imagenes/foto2.png" alt="Producto 2" class="img-fluid" data-toggle="modal" data-target="#modal2">
                <figcaption>Amigurumi de Elefante🧸</figcaption>
            </figure>
            <figure class="col-md-3">
                <img src="/public/imagenes/foto3.png" alt="Producto 3" class="img-fluid" data-toggle="modal" data-target="#modal3">
                <figcaption>Portachupetes personalizado✨</figcaption>
            </figure>
            <figure class="col-md-3">
                <img src="/public/imagenes/post de instagram mes septiembre minimalista rosa.png" alt="Producto 4" class="img-fluid" data-toggle="modal" data-target="#modal4">
                <figcaption>Amigurumi de Hipopotamo🧸</figcaption>
            </figure>
        </section>
    </main>
    <footer class="text-center py-4">
        <p>&copy; 2024 Hechizos de Crochet</p>
    </footer>

    <!-- Modales para productos -->
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="modalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel1">Ramo de flores personalizado💐</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <i> Ramo de Flores Personalizadas a Crochet - La Belleza Eterna en tus Manos 🌸</i>
                    <br>
                        Descripción:
                    <br>
                    Descubre la magia y el encanto de nuestro Ramo de Flores Personalizadas a Crochet, una obra de arte hecha a mano que captura la esencia y la delicadeza de la naturaleza en cada puntada.
                    Son diseño Único y Personalizado: Cada ramo es cuidadosamente tejido a mano con atención al detalle, ofreciendo la posibilidad de personalizar colores y tipos de flores según tus preferencias o la ocasión especial.
                    Materiales de Alta Calidad: Utilizamos hilos de algodón de la más alta calidad, garantizando la durabilidad y la suavidad de cada flor. Nuestro compromiso es crear piezas que no solo sean hermosas, sino también duraderas lo cual las hacen ideal para Cualquier Ocasión.                    Ideal para Cualquier Ocasión
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel2">Amigurumi de Elefante🧸</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Descripción:
                        <br>
                        Muñeco de apego tejido al crochet de forma artesanal y con muchísimo amor!
                        Blandito y súper suave al tacto, está confeccionado con hilo 100% algodón de primera calidad que lo hace hipoalergénico. Tiene ojitos con traba interna de seguridad. No se salen!
                        <br>
                        Mide 22 cm de alto.
                        <br>
                        Apto para el lavado a mano con agua fría o en lavarropas en ciclo delicado, si perder su forma ni color
                        Los amigurumis son ideales como muñeco de apego. Recomendados tanto para los bebés como para los más grandecitos. Resultan indispensables a la hora de dormir y se convierten en el compañero fiel de todos los peques acompañándolos a todos lados por mucho tiempo!
                    <i>Es el REGALO IDEAL porque al ser artesanal es ESPECIAL, UNICO Y ORIGINAL.</i>
                    </p> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="modalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel3">Portachupetes personalizado✨</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Descripción:
                        <br>
                    Portachupete personalizados con el nombre del bebé y animalito y colores a elección.
                <br>
                Apto para el lavado a mano con agua fría o en lavarropas en ciclo delicado, si perder su forma ni color
                Los amigurumis son ideales como muñeco de apego. Recomendados tanto para los bebés como para los más grandecitos. Resultan indispensables a la hora de dormir y se convierten en el compañero fiel de todos los peques acompañándolos a todos lados por mucho tiempo!
                <i>Es el REGALO IDEAL porque al ser artesanal es ESPECIAL, UNICO Y ORIGINAL.</i>
                </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="modalLabel4" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel4">Amigurumi de Hipopotamo🧸</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><Descripción:
                        <br>
                        Muñeco de apego tejido al crochet de forma artesanal y con muchísimo amor!
                        Blandito y súper suave al tacto, está confeccionado con hilo 100% algodón de primera calidad que lo hace hipoalergénico. Tiene ojitos con traba interna de seguridad. No se salen!
                        Se puede cambiar el color de la remera a elección dentro de las gamas que manejamos. Tambien puede cambiar el color del hipo.
                        <br>
                        Mide 15 cm de alto.
                        <br>
                        Apto para el lavado a mano con agua fría o en lavarropas en ciclo delicado, si perder su forma ni color
                        Los amigurumis son ideales como muñeco de apego. Recomendados tanto para los bebés como para los más grandecitos. Resultan indispensables a la hora de dormir y se convierten en el compañero fiel de todos los peques acompañándolos a todos lados por mucho tiempo!
                    <i>Es el REGALO IDEAL porque al ser artesanal es ESPECIAL, UNICO Y ORIGINAL.</i>>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
